<!DOCTYPE html>
<html>
  <head>
    <title>JOKES OF DESTINY!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Joke #<%= joke.id %></h1>
    <section>
          <%- include('_joke', {joke}) %>
    </section>
  </body>
</html>
